In [1]:
from librepo.viewer_tool import ViewerTool
vt = ViewerTool()

In [2]:
experiments = vt.list_experiments()
display(experiments)

       experiment     user                    activity
0  Experimento 01  Leandro          sentado&caminhando
1  Experimento 02    Saulo                     running
2            exp2   Amparo  sentado&caminhando&pulando

In [3]:
files = vt.list_experiment_files('Experimento 01', 'sentado&caminhando', 'Leandro')
display(files)

                                               Files
0  Leandro_sentado&caminhando_Bolso__20230123.054...
1  Leandro_sentado&caminhando_Braço__20230123.074...
2                            VID_20230123_084252.mp4
3                            Accelerometer_Bolso.csv
4                            Accelerometer_Braço.csv
5                                Gyroscope_Bolso.csv
6                                Gyroscope_Braço.csv
7                            VID_20230123_084252.mp4

In [4]:
exp='Experimento 01'
positions=['Bolso','Braço']
user="amparo"
sensors="Accelerometer"

df = vt.get_csv(exp, 'sentado&caminhando', 'Leandro', 'Accelerometer_Braço.csv')
display(df)

      Timestamp    Value 1   Value 2   Value 3
0            14   9.201301 -0.163011  2.788237
1            36   9.232407 -0.146261  2.754737
2            55   9.232407 -0.084048  2.788237
3            76   9.225228 -0.057727  2.833700
4            96   9.251550 -0.036191  2.807379
...         ...        ...       ...       ...
2979      59731  10.252049 -0.953241  0.588036
2980      59750  10.479666 -0.831207  0.619143
2981      59771  11.377274 -0.620339  0.336790
2982      59790  12.634402 -0.567697  0.018245
2983      59810  12.981362 -0.708874 -0.170788

[2984 rows x 4 columns]

In [5]:
video = vt.display_video('Experimento 01', 'sentado&caminhando', 'Leandro', 'VID_20230123_084252.mp4')
display(video)

In [6]:
vt.get_url_video('Experimento 01', 'sentado&caminhando', 'Leandro', 'VID_20230123_084252.mp4')

'http://vm.hiaac.ic.unicamp.br:8081/Experimento%2001%20%5Bsentado%26caminhando%5D%20%5BLeandro%5D/VID_20230123_084252.mp4'

In [7]:
test=vt.get_url_video('Experimento 01', 'sentado&caminhando', 'Leandro', 'VID_20230123_084252.mp4')
print(test)

http://vm.hiaac.ic.unicamp.br:8081/Experimento%2001%20%5Bsentado%26caminhando%5D%20%5BLeandro%5D/VID_20230123_084252.mp4